@model FAS.WebUI.Models.CreateMyGoalsViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Добавление цели</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-6">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2 control-label"><strong>Имя цели</strong></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"><strong>Сумма</strong></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal col-md-6">
        <h5>цели удобны, когда требуется накопить сумму на какую-то серьезную трату. Добавьте собственные цели или воспользуйтесь примерами ниже.</h5> <br id="BR_2" />
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="~/img/pillow.jpg" alt='' />
                <h2>
                    Резервный фонд<br />
                    <input type="submit" name="ctl00AddTemplate" value="Добавить" />
                </h2>
           </div>
            <div class="col-md-6">
                <h2>
                    <img src="~/img/car.jpg" alt='' />
                    Авто- мобиль<br />
                    <input type="submit" value="Добавить" />
                </h2>
            </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img src="~/img/island.jpg" alt='' />
                <h2>
                    Отпуск<br />
                    <input type="submit" value="Добавить" />
                </h2>
           </div>
            <div>
                <img src="~/img/house_repair.jpg" alt='' />
                <h2>
                    Ремонт<br />
                    <input type="submit" value="Добавить" />
                </h2>
            </div>
            <div>
                <img src="~/img/eliphant.jpg" alt='' />
                <h2>
                    Розовый слон<br />
                    <input type="submit" value="Добавить" />
                </h2>
           </div>
            </div>
            </div>
        </div>
}
<div>
    <ul class="pager col-md-12">
        <li class="previous">
            @Html.ActionLink("Назад к списку", "Index", "Transaction")
        </li>
    </ul>
</div>
