@model FAS.WebUI.Models.CreateMyGoalsViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #DIV_1 {
        color: rgb(102, 102, 102);
        float: right;
        height: 666px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 250px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 145px 338px;
        transform-origin: 145px 338px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
        padding: 0px 20px 10px;
    }
    /*#DIV_1*/

    #BR_2, #BR_3 {
        color: rgb(102, 102, 102);
        text-decoration: none solid rgb(102, 102, 102);
        column-rule-color: rgb(102, 102, 102);
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
    }
    /*#BR_2, #BR_3*/

    #BR_4 {
        color: rgb(102, 102, 102);
        text-decoration: none solid rgb(102, 102, 102);
        column-rule-color: rgb(102, 102, 102);
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
    }
    /*#BR_4*/

    #DIV_5 {
        color: rgb(102, 102, 102);
        height: 550px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 230px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 125px 285px;
        transform-origin: 125px 285px;
        caret-color: rgb(102, 102, 102);
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
        padding: 10px;
    }
    /*#DIV_5*/

    #IMG_6, #IMG_11, #IMG_16, #IMG_21, #IMG_26 {
        color: rgb(102, 102, 102);
        display: block;
        float: left;
        height: 100px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 100px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 50px 50px;
        transform-origin: 50px 50px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        margin: 5px;
        outline: rgb(102, 102, 102) none 0px;
    }
    /*#IMG_6, #IMG_11, #IMG_16, #IMG_21, #IMG_26*/

    #H2_7, #H2_27 {
        color: rgb(102, 102, 102);
        height: 32px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 225px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 115px 23.5px;
        transform-origin: 115px 23.5px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal bold normal 16px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        margin: 0px;
        outline: rgb(102, 102, 102) none 0px;
        padding: 15px 5px 0px 0px;
    }
    /*#H2_7, #H2_27*/

    #BR_8, #BR_13, #BR_18, #BR_23, #BR_28 {
        color: rgb(102, 102, 102);
        text-decoration: none solid rgb(102, 102, 102);
        column-rule-color: rgb(102, 102, 102);
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal bold normal 16px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
    }
    /*#BR_8, #BR_13, #BR_18, #BR_23, #BR_28*/

    #INPUT_9, #INPUT_14, #INPUT_19, #INPUT_24, #INPUT_29 {
        background-position: 0px 0px;
        color: rgb(102, 102, 102);
        cursor: pointer;
        display: block;
        float: left;
        height: 29px;
        text-align: center;
        text-decoration: none solid rgb(102, 102, 102);
        white-space: pre;
        width: 94.1375px;
        column-rule-color: rgb(102, 102, 102);
        align-items: flex-start;
        perspective-origin: 47.0625px 14.5px;
        transform-origin: 47.0625px 14.5px;
        user-select: none;
        caret-color: rgb(102, 102, 102);
        background: rgb(221, 221, 221) url("https://homemoney.ua/Images/add-new-bg.png") repeat scroll 0px 0px / auto padding-box border-box;
        border: 1px solid rgb(204, 204, 204);
        font: normal normal bold normal 11px / 28px Arial;
        margin: 10px 0px 0px;
        outline: rgb(102, 102, 102) none 0px;
        padding: 0px 10px 0px 30px;
    }
    /*#INPUT_9, #INPUT_14, #INPUT_19, #INPUT_24, #INPUT_29*/

    #DIV_10, #DIV_15, #DIV_20, #DIV_25, #DIV_31 {
        clear: both;
        color: rgb(102, 102, 102);
        text-decoration: none solid rgb(102, 102, 102);
        width: 230px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 115px 0px;
        transform-origin: 115px 0px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 0px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
        overflow: hidden;
    }
    /*#DIV_10, #DIV_15, #DIV_20, #DIV_25, #DIV_31*/

    #H2_12, #H2_17 {
        color: rgb(102, 102, 102);
        height: 16px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 225px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 115px 15.5px;
        transform-origin: 115px 15.5px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal bold normal 16px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        margin: 0px;
        outline: rgb(102, 102, 102) none 0px;
        padding: 15px 5px 0px 0px;
    }
    /*#H2_12, #H2_17*/

    #H2_22 {
        color: rgb(102, 102, 102);
        height: 16px;
        text-decoration: none solid rgb(102, 102, 102);
        width: 225px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 115px 15.5px;
        transform-origin: 115px 15.5px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal bold normal 16px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        margin: 0px;
        outline: rgb(102, 102, 102) none 0px;
        padding: 15px 5px 0px 0px;
    }
    /*#H2_22*/

    #DIV_30 {
        clear: both;
        color: rgb(102, 102, 102);
        text-decoration: none solid rgb(102, 102, 102);
        width: 230px;
        column-rule-color: rgb(102, 102, 102);
        perspective-origin: 115px 0px;
        transform-origin: 115px 0px;
        caret-color: rgb(102, 102, 102);
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 0px / 16px Verdana, Tahoma, Helvetica, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
        overflow: hidden;
    }
    /*#DIV_30*/
</style>
<h2>Добавление цели</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-6">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2 control-label"><strong>Имя цели</strong></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "pole" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label"><strong>Сумма</strong></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="form-horizontal col-md-6">
        <h5>цели удобны, когда требуется накопить сумму на какую-то серьезную трату. Добавьте собственные цели или воспользуйтесь примерами ниже.</h5> <br id="BR_2" />
        <div class="form-horizontal col-md-7">
            <img src="~/img/pillow.jpg" id="IMG_6" alt='' />
            <h2 id="H2_7">
                Резервный фонд<br id="BR_8" />
                <input type="submit" name="AddTemplate" value="Добавить" id="INPUT_9" onClick="document.getElementById('pole').value = 'Резервный фонд'"/>
            </h2>
            <div id="DIV_10">
            </div><h2 id="H2_7">
                <img src="~/img/car.jpg" id="IMG_11" alt='' />

                Авто- мобиль<br id="BR_13" />
                <input type="submit" name="AddTemplate" value="Добавить" id="INPUT_14" onClick="document.getElementById('pole').value = 'Автомобиль'"/>
            </h2>
        </div>
        <div class="form-horizontal col-md-3">
            <img src="~/img/island.jpg" id="IMG_16" alt='' />
            <h2 id="H2_17">
                Отпуск<br id="BR_18" />
                <input type="submit" name="AddTemplate" value="Добавить" id="INPUT_19" onClick="document.getElementById('pole').value = 'Отпуск'"/>
            </h2>
            <div id="DIV_20">
            </div><img src="~/img/house_repair.jpg" id="IMG_21" alt='' />
            <h2 id="H2_22">
                Ремонт<br id="BR_23" />
                <input type="submit" name="AddTemplate" value="Добавить" id="INPUT_24" onClick="document.getElementById('pole').value = 'Ремонт'"/>
            </h2>
        </div>
        <div id="DIV_25">
        </div><img src="~/img/eliphant.jpg" id="IMG_26" alt='' />
        <h2 id="H2_27">
            Розовый слон<br id="BR_28" />
            <input type="submit" name="AddTemplate" maxlength ="15" value="Добавить" id="INPUT_29" onClick="document.getElementById('pole').value = 'Розовый слон'" />
        </h2>
        <div id="DIV_30">
        </div>
        <div id="DIV_31">
        </div>
    </div>

}
<div>
    <ul class="pager col-md-12">
        <li class="previous">
            @Html.ActionLink("Назад к списку", "Index", "Transaction")
        </li>
    </ul>
</div>
