@model List<FAS.WebUI.Models.SimpleMyGoalsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row-fluid">
        <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
            <h2>Цели</h2>
        </nav>
        <div class="navmenu-fixed-left col-lg-4 navbar-fixed">
            <a class="active" href="@Url.Action("Create", "Score")">
                <span class="brand brand-user">Добавить лицевой счет </span>
            </a><br>
            <a class="active" href="@Url.Action("Create", "MyGoals")">
                <span class="brand brand-user">Добавить цель </span>
            </a><br>
            <a class="active" href="@Url.Action("IndexHome", "Home")">
                <span class="brand brand-user">Профиль </span>
            </a><br>
        </div>



        <div class="col-md-8">
            @if (Model.Count == 0)
            {
                <div class="col-md-10 center-block">
                    <div class="text-danger h3">Нет добавленных целей</div>
                    <img src="~/img/goal1.jpg" class="show" title="param"><br />
                </div>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Имя цели</td>
                            <td>Сколько надо денег до цели</td>
                            <td>Время добовления</td>
                            
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var MyGoals in Model)
                        {
                            <tr>
                                <td>@MyGoals.Name</td>
                                <td>@MyGoals.Price</td>
                                <td>@MyGoals.CreateOn</td>
                                <td>
                                    @if (!MyGoals.IsDeleted)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">

                                                @if (HttpContext.Current.Request.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Delete", "MyGoals", new { id = MyGoals.Id })">
                                                            <span class="glyphicon glyphicon-floppy-remove"></span> Remove
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>