<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – FAS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (HttpContext.Current.Request.IsAuthenticated)
                    {
                        <li><a class="text-info">Hello, @HttpContext.Current.User.Identity.Name</a></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")">
                                <span class="glyphicon glyphicon-log-in"></span> Sign out
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                           <a href="@Url.Action("Login", "Account")">
                               <span class="glyphicon glyphicon-log-in"></span> Sign in
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SignUp", "Account")">
                                <span class="glyphicon glyphicon-user"></span> Sign up
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
    </div>
    <footer class="container">
        <p>&copy; @DateTime.Now.Year – FAS</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
