@model FAS.WebUI.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="text-info h2">Sign up</div>

    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="form-group">
            @Html.LabelFor(m => m.Login, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Login, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Captcha, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Captcha, null, new { @class = "text-danger" })
            <div class="img-responsive" style="margin-top: 15px;">
                <img src="@Url.Action("CaptchaImage", "Account")" alt="captcha" />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="btn-submit">Sign up</button>
        </div>
    }
</div>

