@model List<FAS.WebUI.Models.SimpleTransactionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}
<div class="container-fluid">

    <div class="row-fluid">
        <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
            <h2>Счета</h2>
        </nav>
        <div class="navmenu-fixed-left col-lg-2 navbar-fixed">
            <a class="active" href="@Url.Action("Create", "Transaction")">
                <span class="brand brand-user">Добавить новую транзакцию </span>
            </a><br>
            <a class="active" href="@Url.Action("Home", "Score")">
                <span class="brand brand-user">Счета </span>
            </a><br>
            <a class="active" href="@Url.Action("IndexHome", "Home")">
                <span class="brand brand-user">Профиль </span>
            </a><br>
        </div>
        <div class="col-md-10">
            @if (Model.Count == 0)
            {
                <div class="text-danger h3">No items</div>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Comission</td>
                            <td>Notation</td>
                            <td>CreateOn</td>
                            <td>ModifyOn</td>
                            <td>IsDeleted</td>
                            <td>DeleteOn</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Transaction in Model)
                        {
                            <tr>
                                <td>@Transaction.Comission</td>
                                <td>$@Transaction.Notation</td>
                                <td>@Transaction.CreateOn</td>
                                <td>@Transaction.ModifyOn</td>
                                <td>@Transaction.IsDeleted</td>
                                <td>@Transaction.DeleteOn</td>
                                <td>
                                    @if (!Transaction.IsDeleted)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">

                                                <li>
                                                    <a href="@Url.Action("Change", "Transaction", new { id = Transaction.Id })">
                                                        <span class="glyphicon glyphicon-pencil"></span> Change
                                                    </a>
                                                </li>
                                                @if (HttpContext.Current.Request.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Delete", "Transaction", new { id = Transaction.Id })">
                                                            <span class="glyphicon glyphicon-floppy-remove"></span> Remove
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>