@model List<FAS.WebUI.Models.SimpleTransactionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="row-fluid">
        <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
            <h2>Транзакции</h2>
        </nav>
        <div class="navmenu-fixed-left col-lg-2 navbar-fixed">
            <a class="active" href="@Url.Action("Create", "Transaction")">
                <span class="brand brand-user">Добавить новую транзакцию </span>
            </a><br>
            <a class="active" href="@Url.Action("Create", "Category")">
                <span class="brand brand-user">Добавить новую категорию </span>
            </a><br>
            <a class="active" href="@Url.Action("Create", "MyGoals")">
                <span class="brand brand-user">Добавить цель </span>
            </a><br> 
            <a class="active" href="@Url.Action("Index", "MyGoals")">
                <span class="brand brand-user">Список целей </span>
            </a><br> 
            <a class="active" href="@Url.Action("Index", "Score")">
                <span class="brand brand-user">Счета </span>
            </a><br>
            <a class="active" href="@Url.Action("IndexHome", "Home")">
                <span class="brand brand-user">Профиль </span>
            </a><br>
        </div>
        <div class="col-md-8">
            @if (Model.Count == 0)
            {
                <div class="col-md-10 center-block">
                    <div class="text-danger h3">Нет транзакций</div>
                    <img src="~/img/3.jpg" class="show" title="param"><br />
                </div>
                    }
                    else
                    {

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Примечание</td>
                                <td>Сумма</td>
                                <td>Дата</td>
                                <td>Тип транзакции</td>
                                <td>Категория</td>
                                <td>Счет</td>
                                <td>Банк</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Transaction in Model)
                            {
                                <tr>
                                    <td>@Transaction.Notation</td>
                                    <td>$@Transaction.Comission</td>
                                    <td>@Transaction.CreateOn</td>
                                    <td>@Transaction.IdTransactionType</td>
                                    <td>@Transaction.IdCategory</td>
                                    <td>@Transaction.IdScore</td>
                                    <td>@Transaction.IdBank</td>
                                    <td>
                                        @if (!Transaction.IsDeleted)
                                        {
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">

                                                    @if (HttpContext.Current.Request.IsAuthenticated)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Delete", "Transaction", new { id = Transaction.Id })">
                                                                <span class="glyphicon glyphicon-floppy-remove"></span> Remove
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
    </div>
</div>