@model Tuple<List<SelectListItem>, List<SelectListItem>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "content"
    };
}
<div class="container-fluid">
    <div class="h2">Транзакции</div>
    <div class="row-fluid">
        <div class="col-md-3">
            <div><a href="@Url.Action("Create", "Transaction")">Добавить новую транзакцию</a></div>
            <div><a href="@Url.Action("Create", "Category")">Добавить новую категорию</a></div>
            <div><a href="@Url.Action("Create", "MyGoals")">Добавить цель</a></div>
            <div><a href="@Url.Action("Index", "MyGoals")">Список целей</a></div>
            <div><a href="@Url.Action("Index", "Score")">Счета</a></div>
            <div><a href="@Url.Action("IndexHome", "Home")">Профиль</a></div>
        </div>
        <div class="col-md-9">
            @using (Ajax.BeginForm("List", "Transaction", ajaxOpt))
            {
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Выберите счет</label>
                        @Html.DropDownList("score", Model.Item1, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">С</label>
                        <input type="date" class="form-control" name="start" />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">по</label>
                        <input type="date" class="form-control" name="end" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class="control-label">Выберите категорию</label>
                        @Html.DropDownList("category", Model.Item2, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" type="submit">Загрузить</button>
                    </div>
                </div>
            }
            <div class="row">
                <div id="loader" class="text-danger" style="display: none;">Загрузка ...</div>
            </div>
            <div class="row" id="content"></div>
        </div>
    </div>
</div>